



   .container-fluid {
       background-color: green;
       text-align: right;
   }

   .nav-item {
    text-align: right;
   }

   .navbar-brand {
       font-size: 20px;
       color: white;
   }

   .btn1 {
    align-content: right;
    margin-left: 500px;
    color: black;
    background-color: orange;
   }

   ul {
       color: white;
   }

   .nav-link {
    color: white;
    font-size: 15px;
   }