



   .container-fluid {
       background-color: green;
       text-align: right;
       height: 70px;
       padding-top: 15px;
   }

   .nav-item {
    text-align: right;
   }

   .navbar-brand {
       font-size: 30px;
       color: white;
       font-family: 'Permanent Marker', cursive;
   }

   .btn1 {
    align-content: right;
    margin-left: 500px;
    color: black;
    background-color: orange;
   }

   ul {
       color: white;
       font-family: 'Permanent Marker', cursive;
   }

   .nav-link {
    color: white;
    font-size: 15px;
   }

   img {
    height: 10px;
    width: auto;
}